<header class="site-header" {% if page.hero_image %}style="background-image: url('{{ page.hero_image }}')"{% elsif site.blog_header_image %}style="background-image: url('{{ site.blog_header_image }}')"{% endif %}>
  <div class="header-overlay">
    <div class="header-content">
      <div class="temple-logo">
        <img src="{{ site.temple_logo_url }}" alt="Temple University" class="temple-t-logo">
      </div>
      <h1>{{ page.header_title | default: site.title }}</h1>
      <p class="header-subtitle">{{ page.header_subtitle | default: site.description }}</p>
    </div>
  </div>
</header>
